<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shortened Game</title>
  <link rel="stylesheet" type="text/css" href="/styles/IDWstyles.css">
  </head>
  <style>
    body{
      background-color: gray;
    }
    html { 
  background: url(/cards/Computer.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  </style>
  <body><center>
        <h1>I Declare War!</h1>

    <br><br>

    
  <table>
    <tr>
      <th>
        player1
      </th>
      <th>
        player2
      </th>
    </tr>
    <tr>
          <td>
            player 1 cards left :{{player1}}
          </td>

          <td>
            player 2 cards left :{{player2}}
          </td>
    </tr>
    <tr>
        <td>
          hold pile:{{player1hold}}
        </td>
        <td>
          hold pile: {{player2hold}}
        </td>

    </tr>
    <tr>
        <td>
          Current move: {{p1move}}
        </td>
        <td>
          Current move: {{p2move}}
        </td>
    </tr>
</table>
<br>
<h1> VS</h1>

    <p id="win">{{lost}}</p>
    <br><hr>
      <form method="post">
          
        <img id="top" class ="card" src={{img1}}  alt={{img1}} />
        <button class="hide" id="ShortMove" type="submit">Start Game</button>



<img id="bottom" class = "card" src={{img2}} alt={{img2}} />
<img id="holdp1" class = "card" src=/cards/face.png />
<img id="holdp2" class = "card" src=/cards/face.png />
<img id="show" class = "card" src={{show1}} alt={{show1}} />
<img id="show" class = "card" src={{show2}} alt={{show2}} />
<button id="b2" class = "button" name="b2" value="1">button2</button>
<button id="b1" class= "button" name="b1" value="1">button1</button>

</form> 
<p id="lefttext" class ="text">{{player2hold}}</p>
<p id="righttext" class = "text">{{player1hold}} </p>


      <hr><br>

<br>
<br><br>