<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shortened Game</title>
  <link rel="stylesheet" type="text/css" href="/styles/IDWstyles.css">
  </head>
  <style>
    body{
      background-color: gray;
    }
    html { 
  background: url(/cards/Computer.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  </style>
  <body>
    <center>
        <h1>I Declare War!</h1>


  <table id="table">
    <tr>
      <th>
        player1
      </th>
      <th>
        player2
      </th>
    </tr>
    <tr>
          <td>
            player 1 cards left :{{player1}}
          </td>

          <td>
            player 2 cards left :{{player2}}
          </td>
    </tr>
    <tr>
        <td>
          hold pile:{{player1hold}}
        </td>
        <td>
          hold pile: {{player2hold}}
        </td>

    </tr>
    <tr>
        <td>
          Current move: {{p1move}}
        </td>
        <td>
          Current move: {{p2move}}
        </td>
    </tr>
</table>







<h1>{{player1hold}} to {{player2hold}}</h1>

<p class = "text">VS</p>


{{test}}



    <p id="win">{{lost}}</p>
    <br><hr>

  <div class= "center">
    <div class="main">
      <form method="post">
          
        <img id="top" class ="card" src={{img1}}  alt={{img1}}>
        <img id="bottom" class = "card" src={{img2}} alt={{img2}} />
        <br>
        <img id="holdp1" class = "card" src=/cards/face.png />
        <img id="holdp2" class = "card" src=/cards/face.png />

        <hr>
        <button id="ShortMove" type="submit">Start Game</button>
      </form> 



</div>
</div>









</center>
</body>
</html>
      


  </body>
</html>