<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>I Declare War</title>
  <link rel="stylesheet" type="text/css" href="/styles/IDWstyles.css">
  </head>
  <body>
    <div>
    <h1>WAR! (the card game)</h1>
    </div>
    <h3>How To Play</h3>
    <div>
    <ol>
      <li>A deck of cards has been split between you and a CPU player.</li>
        <li>Each player will play a card. The highest card WINS.</li>
        <li>If the players tie, the each player puts down 3 cards. The player with the highest card WINS. (Keep doing this until the tie is broken) </li>
        <li>The game is over when one player has no more cards.</li>
    </ol>
  </div>
  <a href="/playBasic">
   <button type="button">Start Game</button>
  <a href="/">
   <button type="button">
 </a>
  </body>
</html>
