<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>I Declare War</title>
  <link rel="stylesheet" type="text/css" href="/styles/IDWstyles.css">
  </head>
  <body><center>
    <div>
    <h1>WAR! (the card game)</h1>
    </div>
    <h3>How To Play (I Declare War)</h3>
    <div>
    <ol id="Rules">
      <li>A deck of cards has been split between you and a CPU player.</li>
        <li>Each player will play a card. The highest card WINS.</li>
        <li>If the players tie, the each player puts down 3 cards. The player with the highest card WINS. (Keep doing this until the tie is broken) </li>
        <li>The game is over when one player has no more cards.</li>
    </ol>
  </div>
  <div>
  <h3>How To Play (Card Roulette)</h3>
</div>
  <div>
    <ol id="ShortRules">
      <li>A deck of cards has been split between you and a CPU player</li>
      <li>Press Play Move. You and the CPU will choose a card from the deck at random.</li>
      <li>The player with the highest value card wins. If the player tie, both will drop 3 more cards. The player with the highest card WINS.
      <li>After going through the entire deck, the player with the most cards, WINS.</li> 
    </ol>
  </div>
  <div>
    <h3>How To Play (Cool Version)</h3>
  </div>
  
  <div>
    <ol id="CoolRules">
      <li>Like the first 2 variations, a deck of cards has been shuffled and split in half between you and a CPU player</li>
      <li>You will be shown the first 2 cards.</li>
    </ol>
  </div>
  <div>
  <a href="/playBasic">
   <button id="BasicButton" type="button">Start Game (I Declare War)</button>
 </a>
 </div>
 <div>
  <a href="/playShort">
   <button id="ShortButton" type="button">Start Game (Card Roulette)</button>
 </a>
</div>
<div>
  <a href="/playCool">
    <button id="CoolButton" type="button">Start Game (Cool Game)</button>
  </a>
</div></center>
  </body>
</html>
