body {
  background-color: green;
  margin-left: 30%;
  margin-right: 30%;
  height: 100%;

}
html{
  height: 100%;
}
form{
  size: inherit;
}
h1 {
  color: black;
}

h3 {
  color: black;
}
input{
  transform: scale(2,2);
}
.HowToPlay {
  background-color: white;
  border-style: solid;
  border-width: 2em;
}
#Rules {
  color: black;
  font-size: 20px;
}

#ShortRules{
  color: black;
  font-size: 20px;
}

#CoolRules{
  color: black;
  font-size: 20px;
}

.GameButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

.card{
  position: relative;
  height: 200px;
  width: 100px;
}


#win{
  position: relative;
  font-size: 40px;
  top: 40%
}
.button{
  position: relative;
  float: right;
  margin: 5%;
  right: 15%;
}

.text{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  position: relative;
}

#lefttext{

  color: greenyellow;
  background-origin: padding-box;
  position: absolute;
}
#righttext{
  position: absolute;
  background-origin: padding-box;
  color: crimson;
  
}
#table{
  font-size: 25px;
  background-color: white;
  width: 100%;
  border: 0.5% solid black;
  text-align: center;
  
  
}

td{
  padding: 0.5%;
}
.hide{
  visibility: hidden;
}
.center{
  text-align: center;
  width: inherit;
  height: inherit;
}
.main{
  width: inherit;
  height: inherit;
}

#top{
  right: 30%;
  position: relative;
  height: 200px;
  width: 100px;
}

#bottom{
  left: 30%;
  position: relative;
  height: 200px;
  width: 100px;
}

#holdp1{
  right: 30%;
}
#holdp2{
  left: 30%;
}

@keyframes fadeIn {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.animate{
    animation-duration:4s;
    animation-name: fadeIn;
}
