body {
  background-color: green;
  margin-left: 30%;
  margin-right: 30%;
}
form{
  size: inherit;
}
h1 {
  color: white;
}

h3 {
  color: white;
}
input{
  transform: scale(2,2);
}

#Rules {
  color: white;
  font-size: 20px;
}

#ShortRules{
  color: white;
  font-size: 20px;
}

#CoolRules{
  color: white;
  font-size: 20px;
}

td {
  margin: 10px;
}

.card{
  position: relative;
  height: 200px;
  width: 100px;
}

#top{
  top:20%;
  right: 5%;
}

#bottom{
  top: 20%;
  left: 60%;
}

#holdp1{
  right: 60%;
  top: 20%
}
#holdp2{
  left: 50%;
  top: 20%;
}

#show{
  top: 250px;
  
  margin: 0 auto;
}
#win{
  position: relative;
  font-size: 40px;
  top: 40%
}
.button{
  position: relative;
  float: right;
  margin: 20px;
  right: 35px;
}

.text{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  position: relative;
}

#lefttext{
  right: 365px;
  bottom: 150px;
  color: greenyellow;
  background-origin: padding-box;
  
}
#righttext{
  bottom: 210px;
  left: 480px;
  background-origin: padding-box;
  color: crimson;
  
}
table{
  font-size: 25px;
  background-color: antiquewhite;
  border-collapse: collapse;
}

#b1{
  position: 
}
#b2{

}
.hide{
  visibility: hidden;
}

@keyframes example {
  0%   {background-color:red; left:0px}
  25%  {background-color:yellow; left:200px;}
  50%  {background-color:blue; left:200px;}
  75%  {background-color:green; left:0px; top:200p}
  100% {background-color:red; left:0px; top:0px;}
}

/* The element to apply the animation to */
#show1 {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}
#show2{

}